<!DOCTYPE html>
<html>
  <head>
    <title>Pokedex</title>
    <% include head %>
  </head>
  <body>
    <% include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1></h1>
        </div>
        <div class="col-sm-12">
          <% if(data.pokemons){ %>
            <% data.pokemons.forEach((pokemon)=>{ %>
              <div class="col-md-3 col-sm-4 poster">
                <a href="/pokemon/<%= pokemon.id %>"
                  ><img src="<%= pokemon.sprites.front %>" alt="<%= pokemon.name %>"
                /></a>
              </div>
              <% })%>
          <% } else{ %>  
            <div class="col-md-3 col-sm-4 poster">
              <p><%= data.error %></p>
            </div>
         <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
